Repository magshimim-next/cv-next, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/backend, area/components, area/build, area/database, area/frontend, area/logging, area/performance, area/release, area/server, area/security, area/testing, area/UI, area/UX, kind/documentation

.github/labeler.yml:

# Define labels for areas and kinds with match objects

#
# Area Labels
# 

area/api: 
  - changed-files:
    - any-glob-to-any-file:
        - "**/api/**"
        - "**/api/**/**"

area/backend:
  - changed-files:
    - any-glob-to-any-file:
        - "**/pages/api/**"
        - "**/pages/api/**/**"

area/components:
  - changed-files:
    - any-glob-to-any-file:
        - "**/components/**"
        - "**/components/**/**"


area/build:
  - changed-files:
    - any-glob-to-any-file:
        - "**/next.config.js"
        - "**/package.json"
        - "**/package-lock.json"
        - "**/yarn.lock"
        - "**/Dockerfile"
        - "**/DockerfileDev"
        - "**/.github/**"
        - "**/.github/**/**"

area/database:
  - changed-files:
    - any-glob-to-any-file:
        - "**/prisma/**"
        - "**/prisma/**/**"

area/frontend:
  - changed-files:
    - any-glob-to-any-file:
        - "**/pages/**"
        - "**/pages/**/**"
        - "**/components/**"
        - "**/components/**/**"
        - "**/*.js"
        - "**/*.jsx"
        - "**/*.ts"
        - "**/*.tsx"

area/logging:
  - changed-files:
    - any-glob-to-any-file:
        - "**/log/**"
        - "**/log/**/**"

area/performance:
  - changed-files:
    - any-glob-to-any-file:
        - "**/performance/**"
        - "**/performance/**/**"

area/release:  
  - changed-files:
    - any-glob-to-any-file:
        - "**/release/**"
        - "**/release/**/**"

area/server:
  - changed-files:
    - any-glob-to-any-file:
        - "**/server/**"
        - "**/server/**/**"

area/security:
  - changed-files:
    - any-glob-to-any-file:
        - "**/security/**"
        - "**/security/**/**"

area/testing:
  - changed-files:
    - any-glob-to-any-file:
        - "**/test/**"
        - "**/test/**/**"
        - "**/*.test.js"
        - "**/*.test.jsx"
        - "**/*.test.ts"
        - "**/*.test.tsx"

area/UI:
  - changed-files:
    - any-glob-to-any-file:
        - "**/ui/**"
        - "**/ui/**/**"

area/UX:
  - changed-files:
    - any-glob-to-any-file:
        - "**/ux/**"
        - "**/ux/**/**"



kind/documentation:
  - changed-files:
      - any-glob-to-any-file:
        - docs/*
        - docs/**/*
        - '**/*.md'
        - mkdocs.yml
        - NOTICE
        - LICENSE

h
  cv_next/app/feed/components/CV/CVItem.tsx
Labels: area/components, area/frontend

ADDED: 404 logo
  cv_next/app/not-found.tsx
Labels: area/frontend

UPDATED: CV_IS_PRIVATE error message
  cv_next/hooks/useAPIFetch.ts
Labels: area/frontend

REMOVED: blur fetching | UPDATED: API functions were merged to one main function that handles logic
  cv_next/app/api/cvs/fetchPreviews/route.ts
  cv_next/app/feed/components/CVItem.tsx
Labels: area/api, area/components, area/frontend

UPDATED: revalidate structure
  cv_next/app/api/cvs/fetchPreviews/route.ts
Labels: area/api, area/frontend

FIXED: returning path even when files are similar
  cv_next/app/api/cvs/fetchPreviews/route.ts
Labels: area/api, area/frontend

ADDED: shimmer effect
  cv_next/app/feed/components/CVItem.tsx
  cv_next/lib/utils.ts
Labels: area/components, area/frontend

REMOVED: plaiceholder data
  cv_next/lib/definitions.ts
Labels: area/frontend

fix github auto labler not working
  .github/workflows/labeler.yml
  .github/workflows/test-pr.yml
Labels: area/build

change lables for github issue template
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: area/build, kind/documentation

fix test pr
  .github/workflows/test-pr.yml
  cv_next/package-lock.json
  cv_next/package.json
Labels: area/build
