Repository magshimim-next/cv-next, pull requests merged in 2024-10, with the labels that each got.

#185 184 fix signout popup
  cv_next/components/layout/navbar/popup.tsx
Labels: bug

#170 136 UI feed should be the landing page
  cv_next/app/(landing)/page.tsx
  cv_next/app/about/components/aboutLayout.tsx
  cv_next/app/about/components/loginButtons.tsx
  cv_next/app/about/page.tsx
  cv_next/components/layout/navbar/navbar.tsx
  cv_next/lib/definitions.ts
  cv_next/lib/utils.ts
Labels: enhancement, good first issue

#193 Cleanup link query
  cv_next/server/api/cvs.ts
  cv_next/server/api/users.ts
Labels: enhancement

#167 Link query new
  .gitignore
  cv_next/app/feed/components/CVItem.tsx
  cv_next/app/feed/components/feed.tsx
  cv_next/app/feed/components/filterPanel.tsx
  cv_next/app/feed/components/filters/valueSelect.tsx
  cv_next/components/layout/navbar/navbar.tsx
  cv_next/hooks/useAPIFetch.ts
  cv_next/hooks/useDebounceCallback.ts
  cv_next/hooks/useUser.ts
  cv_next/lib/utils.ts
  cv_next/server/api/cvs.ts
  cv_next/server/api/supabaseHelper.ts
Labels: bug, enhancement

#195 BUG: problems with eslint plugin prettier
  cv_next/package-lock.json
  cv_next/package.json
Labels: bug, dependencies

#194 UPDATED: centered logo and theme
  cv_next/components/layout/navbar/navbar.tsx
Labels: bug, enhancement, good first issue

#181 DB: ERD and Remove unnecessary fields
  cv_next/app/actions/cvs/uploadCv.ts
  cv_next/app/upload/page.tsx
  cv_next/lib/supabase-definitions.ts
  cv_next/server/api/cvs.ts
  cv_next/types/database.types.ts
  docs/cv-next-ERD.drawio
Labels: documentation, enhancement

#188 164 UI create a footer
  cv_next/app/about/components/aboutLayout.tsx
  cv_next/app/layout.tsx
  cv_next/app/not-found.tsx
  cv_next/components/layout/pageFooter.tsx
  cv_next/public/images/chair.png
  cv_next/public/images/whiteChair.png
Labels: enhancement

#196 145 UI reorganize the profile page
  cv_next/app/about/components/aboutLayout.tsx
  cv_next/app/layout.tsx
  cv_next/app/not-found.tsx
  cv_next/app/profile/[profileId]/components/profileData.tsx
  cv_next/app/profile/[profileId]/page.tsx
  cv_next/components/ui/Carousel/carouselArrows.tsx
  cv_next/components/ui/Carousel/carouselDots.tsx
  cv_next/components/ui/Carousel/carouselStructure.tsx
  cv_next/components/ui/dropdownCover.tsx
Labels: enhancement
