Repository magshimim-next/cv-next, pull requests merged in 2024-08, with the labels that each got.

#88 Cv page comment btn
  cv_next/app/actions/comments/fetchComments.ts
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentsSection.tsx
  cv_next/components/ui/alert.tsx
  cv_next/components/ui/tooltip.tsx
Labels: enhancement

#126 fixed go back in inactive page opens in new tab
  cv_next/app/inactive/components/inactive.tsx
Labels: bug

#73 72 fix session management with ssr
  cv_next/.eslintrc.json
  cv_next/app/actions/cvs/fetchCvs.ts
  cv_next/app/actions/cvs/getBlurCv.ts
  cv_next/app/actions/cvs/preview.ts
  cv_next/app/actions/users/getUser.ts
  cv_next/app/api/cvs/fetchCvs/route.ts
  cv_next/app/api/cvs/fetchPreviews/route.ts
  cv_next/app/api/users/fetchUserData/route.ts
  cv_next/app/auth/callback/route.ts
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentsSection.tsx
  cv_next/app/feed/components/CVItem.tsx
  cv_next/app/feed/components/feed.tsx
  cv_next/app/feed/components/filterPanel.tsx
  cv_next/app/feed/page.tsx
  cv_next/app/layout.tsx
  cv_next/app/login/page.tsx
  cv_next/app/profile/[profileId]/components/editables/editableUsername.tsx
  cv_next/app/profile/[profileId]/components/editables/editableWorkStatus.tsx
  cv_next/components/layout/navbar/popup.tsx
  cv_next/components/layout/navbar/popupToggle.tsx
  cv_next/helpers/supabaseBrowserHelper.ts
  cv_next/hooks/supabase.ts
  cv_next/hooks/useAPIFetch.ts
  cv_next/lib/definitions.ts
  cv_next/lib/supabase-definitions.ts
  cv_next/middleware.ts
  cv_next/package-lock.json
  cv_next/package.json
  cv_next/providers/supabase-provider.tsx
  cv_next/server/api/cvs.ts
  cv_next/server/api/operationBucket.ts
  cv_next/server/api/supabaseHelper.ts
  cv_next/tsconfig.json
  cv_next/types/models/filters.ts
Labels: bug

#133 BUG: redirect to cv after upload doesnt work
  cv_next/app/actions/cvs/uploadCv.ts
Labels: bug, good first issue

#132 BUG: username not showing in preview
  cv_next/app/api/users/fetchUserData/route.ts
Labels: bug, good first issue

#99 98 UI show loginsign out based on logged in state
  cv_next/app/(landing)/components/loginButtons.tsx
  cv_next/app/(landing)/page.tsx
  cv_next/app/actions/users/getUser.ts
  cv_next/app/global.d.ts
  cv_next/components/layout/navbar/popup.tsx
  cv_next/components/layout/navbar/popupToggle.tsx
  cv_next/components/pages/hero.tsx
  cv_next/hooks/useUser.ts
  cv_next/lib/definitions.ts
Labels: bug

#147 Feature/devops branch
  .github/workflows/docker-image.yml
  cv_next/.dockerignore
  cv_next/Dockerfile
  cv_next/app/api/cvs/fetchPreviews/route.ts
  cv_next/app/api/users/revalidateSignout/route.ts
  cv_next/app/auth/callback/route.ts
  cv_next/app/login/components/login.tsx
  cv_next/app/login/page.tsx
  cv_next/app/upload/page.tsx
  cv_next/components/layout/navbar/popup.tsx
  cv_next/lib/definitions.ts
  cv_next/package-lock.json
  cv_next/package.json
  cv_next/server/api/cvs.ts
  cv_next/server/base/logger.ts
Labels: devops and production

#129 Add uid validation comments
  cv_next/app/actions/comments/addComment.ts
  cv_next/app/actions/comments/deleteComment.ts
  cv_next/app/actions/comments/setLike.ts
  cv_next/app/actions/comments/setResolved.ts
  cv_next/app/actions/users/updateUser.ts
  cv_next/app/api/users/fetchUserData/route.ts
  cv_next/app/global.d.ts
  cv_next/app/profile/[profileId]/components/editables/editableUsername.tsx
  cv_next/lib/supabase-definitions.ts
  cv_next/lib/utils.ts
  cv_next/package-lock.json
  cv_next/package.json
  cv_next/server/api/comments.ts
  cv_next/server/api/users.ts
  cv_next/server/base/logger.ts
Labels: bug

#131 102 security check csrf account takeover
  cv_next/app/actions/cvs/uploadCv.ts
  cv_next/app/auth/callback/route.ts
  cv_next/lib/definitions.ts
  cv_next/lib/utils.ts
Labels: bug

#152 UI: hover doesnt curve
  cv_next/app/(landing)/page.tsx
Labels: bug, good first issue

#135 25 clean up dependencies and branches
  .github/workflows/codeql.yml
  .github/workflows/dev-cicd.yml
  .github/workflows/linter.yml
  .github/workflows/prod-cicd.yml
  cv_next/.eslintrc.json
  cv_next/.husky/pre-commit
  cv_next/app/(landing)/components/loginButtons.tsx
  cv_next/app/(landing)/page.tsx
  cv_next/app/actions/cvs/fetchCvs.ts
  cv_next/app/actions/cvs/uploadCv.ts
  cv_next/app/actions/users/getUser.ts
  cv_next/app/api/cvs/fetchCvs/route.ts
  cv_next/app/api/cvs/fetchPreviews/route.ts
  cv_next/app/api/users/fetchUserData/route.ts
  cv_next/app/auth/callback/route.ts
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentsSection.tsx
  cv_next/app/cv/[cvId]/components/cvData.tsx
  cv_next/app/cv/[cvId]/page.tsx
  cv_next/app/feed/components/CVItem.tsx
  cv_next/app/feed/components/feed.tsx
  cv_next/app/feed/components/filterPanel.tsx
  cv_next/app/global.d.ts
  cv_next/app/layout.tsx
  cv_next/app/login/components/login.tsx
  cv_next/app/not-found.tsx
  cv_next/app/profile/[profileId]/components/editables/editableUsername.tsx
  cv_next/app/profile/[profileId]/components/editables/editableWorkCategories.tsx
  cv_next/app/profile/[profileId]/components/editables/editableWorkStatus.tsx
  cv_next/app/profile/[profileId]/components/profileCvs.tsx
  cv_next/app/profile/[profileId]/components/profileData.tsx
  cv_next/app/profile/[profileId]/page.tsx
  cv_next/app/signout/page.tsx
  cv_next/app/upload/page.tsx
  cv_next/components/layout/navbar/navbar.tsx
  cv_next/components/layout/navbar/popup.tsx
  cv_next/components/layout/navbar/popupToggle.tsx
  cv_next/components/ui/Carousel/carouselStructure.tsx
  cv_next/components/ui/alert.tsx
  cv_next/hooks/useUser.ts
  cv_next/lib/definitions.ts
  cv_next/package-lock.json
  cv_next/package.json
  cv_next/prettier.config.js
  cv_next/server/api/comments.ts
  cv_next/server/api/cvs.ts
  cv_next/server/api/users.ts
Labels: dependencies
