Repository magshimim-next/cv-next, pull requests merged in 2024-09, with the labels that each got.

#151 111 UI when the user hasnt uploaded a cv yet the user page is not centered
  cv_next/app/auth/callback/route.ts
  cv_next/app/profile/[profileId]/components/profileData.tsx
  cv_next/app/profile/[profileId]/page.tsx
Labels: bug, good first issue

#165 BUG: profile stats not showing top 3
  cv_next/app/profile/[profileId]/components/categoryCounter.tsx
Labels: bug

#168 Made the upload button an icon
  cv_next/components/layout/navbar/navbar.tsx
Labels: enhancement, good first issue

#169 FIXED: extending the description to needed size vertically
  cv_next/app/feed/components/inputbar.tsx
Labels: bug, good first issue

#162 removed the feed button from the user popup
  cv_next/components/layout/navbar/popup.tsx
Labels: enhancement, good first issue

#173 104 fix logging to a file
  cv_next/.eslintrc.json
  cv_next/next.config.mjs
  cv_next/package-lock.json
  cv_next/package.json
  cv_next/server/base/logger.ts
Labels: bug, devops and production

#176 Bug: empty comment and spamming
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
Labels: bug

#180 CREDITS: added yarden to credits
  cv_next/lib/definitions.ts
Labels: documentation
