Repository magshimim-next/cv-next, pull requests merged in 2025-03, with the labels that each got.

#318 315 feature add user approvals page
  cv_next/app/actions/users/getUser.ts
  cv_next/app/actions/users/updateUser.ts
  cv_next/app/admin/components/permsDropDown.tsx
  cv_next/app/admin/components/profilesTable.tsx
  cv_next/app/admin/components/quickActions.tsx
  cv_next/app/admin/page.tsx
  cv_next/app/global.d.ts
  cv_next/lib/definitions.ts
  cv_next/lib/supabase-definitions.ts
  cv_next/middleware.ts
  cv_next/server/api/users.ts
  cv_next/types/database.types.ts
Labels: enhancement, area/api, kind/feature, area/frontend, area/backend, area/UI

#322 317 feature add comment actions to authors and admins
  cv_next/app/actions/comments/setResolved.ts
  cv_next/app/actions/users/getUser.ts
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentsSection.tsx
  cv_next/app/cv/[cvId]/components/cvData.tsx
  cv_next/app/cv/[cvId]/page.tsx
Labels: area/api, kind/feature, area/UI

#324 fix zero in overflow catagories
  cv_next/app/feed/components/CV/categoryDisplay.tsx
Labels: kind/bug, area/frontend, area/UI

#323 ADDED: a way for admins to update display names
  cv_next/app/profile/[profileUsername]/components/profileData.tsx
  cv_next/app/profile/[profileUsername]/components/profilePersonalData.tsx
Labels: enhancement, area/api, kind/feature, area/frontend, area/backend, area/UI

#282 Add GitHub actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/fast-forward.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-ff.yml
  .github/workflows/test-pr.yml
  cv_next/package-lock.json
  cv_next/package.json
Labels: github_actions

#329 FIXED: npm run build works as expected
  cv_next/app/login/components/loginLayout.tsx
  cv_next/server/api/users.ts
  cv_next/types/database.types.ts
Labels: kind/bug, devops and production, area/api, area/server, area/build, area/frontend, area/release, area/components
