Repository magshimim-next/cv-next, pull requests merged in 2025-05, with the labels that each got.

#333 214 change pfp
  cv_next/app/actions/users/updateUser.ts
  cv_next/app/profile/[profileUsername]/components/profilePersonalData.tsx
  cv_next/app/profile/[profileUsername]/components/upload_pfp/EditableProfileImage.tsx
  cv_next/app/profile/[profileUsername]/components/upload_pfp/ImageCropper.tsx
  cv_next/app/profile/[profileUsername]/components/upload_pfp/UploadSelector.tsx
  cv_next/app/profile/[profileUsername]/components/upload_pfp/uploadPopup.tsx
  cv_next/lib/definitions.ts
  cv_next/package-lock.json
  cv_next/package.json
  cv_next/server/api/users.ts
Labels: dependencies, area/api, area/server, area/build, area/database, area/frontend, area/UI, area/UX, area/components

#339 ADDED: validating regex of link before anything
  cv_next/app/api/cvs/fetchPreviews/route.ts
Labels: area/api, kind/chore, area/frontend, area/backend

#337 254 UI overhaul hall of fame
  cv_next/app/hall/page.tsx
  cv_next/app/hall/stars.module.css
  cv_next/app/hall/stars.tsx
  cv_next/app/hall/styles.module.css
  cv_next/components/layout/pageFooter.tsx
  cv_next/lib/credits.ts
  cv_next/lib/definitions.ts
  cv_next/middleware.ts
  cv_next/package-lock.json
Labels: area/build, area/frontend, area/components

#334 331 bug show limit of characters in fields
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/upload/page.tsx
  cv_next/lib/definitions.ts
Labels: kind/bug, area/frontend, area/UI, area/UX, area/components

#346 Update to v1.1.1
  cv_next/app/actions/users/getUser.ts
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/hall/page.tsx
  cv_next/app/hall/stars.module.css
  cv_next/app/hall/stars.tsx
  cv_next/app/hall/styles.module.css
  cv_next/app/upload/page.tsx
  cv_next/components/layout/navbar/popup.tsx
  cv_next/components/layout/pageFooter.tsx
  cv_next/hooks/useUser.ts
  cv_next/lib/credits.ts
  cv_next/lib/definitions.ts
  cv_next/middleware.ts
  cv_next/package-lock.json
Labels: area/build, area/frontend, area/components
