Repository magshimim-next/cv-next, pull requests merged in 2025-01, with the labels that each got.

#232 Mobile upload comments pixel fixes
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/feed/components/inputbar.tsx
  cv_next/components/layout/navbar/navbar.tsx
Labels: bug, good first issue

#223 new hall of fame design
  cv_next/app/globals.css
  cv_next/app/hall/page.tsx
  cv_next/app/hall/styles.module.css
  cv_next/lib/definitions.ts
  cv_next/package-lock.json
  cv_next/package.json
Labels: enhancement

#256 FIXED: failing to validate username after signin disconnects user
  cv_next/app/auth/callback/route.ts
Labels: kind/bug

#269 Bug: error hook was broken tailwind was missing provider
  cv_next/app/globals.css
  cv_next/providers/error-provider.tsx
  cv_next/tailwind.config.js
Labels: kind/bug, area/frontend

#229 Comment rendering fixes
  cv_next/app/actions/comments/addComment.ts
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentsSection.tsx
  cv_next/server/api/comments.ts
Labels: kind/bug

#258 249 bug turning private cv to public
  cv_next/app/actions/cvs/uploadCv.ts
  cv_next/app/api/cvs/fetchPreviews/route.ts
  cv_next/app/cv/[cvId]/components/cvData.tsx
  cv_next/app/cv/[cvId]/page.tsx
  cv_next/app/feed/components/CVItem.tsx
  cv_next/components/ui/cvPreview.tsx
  cv_next/hooks/useAPIFetch.ts
  cv_next/lib/definitions.ts
  cv_next/public/images/access_denied.png
Labels: kind/bug

#220 219 UI remove errors on upload page
  cv_next/app/feed/components/filters/valueSelect.tsx
  cv_next/app/upload/page.tsx
  cv_next/components/cvPerview.tsx
  cv_next/components/ui/popupWrapper.tsx
Labels: kind/bug

#217 colors and themes management
  cv_next/app/globals.css
  cv_next/app/layout.tsx
  cv_next/app/profile/[profileUsername]/components/categoryCounter.tsx
  cv_next/app/themeManager/themeManager.ts
  cv_next/app/themeManager/themes/dark.ts
  cv_next/app/themeManager/themes/light.ts
  cv_next/components/layout/navbar/modeToggle.tsx
  cv_next/components/layout/navbar/navbar.tsx
  cv_next/providers/theme-provider.tsx
  cv_next/public/images/Untitled.pdn
  cv_next/public/images/whiteLogo.png
  cv_next/tailwind.config.js
Labels: enhancement

#268 201 Detected first login and ask the user to change the default username that is generated
  cv_next/app/actions/users/getUser.ts
  cv_next/app/actions/users/updateUser.ts
  cv_next/app/auth/callback/route.ts
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/feed/components/button.tsx
  cv_next/app/first_login/[profileUsername]/components/firstTimeSignIn.tsx
  cv_next/app/first_login/[profileUsername]/components/newUsernameForm.tsx
  cv_next/app/first_login/[profileUsername]/page.tsx
  cv_next/app/layout.tsx
  cv_next/app/profile/[profileUsername]/components/categoryCounter.tsx
  cv_next/app/profile/[profileUsername]/components/profileDisplay.tsx
  cv_next/app/profile/[profileUsername]/components/profileForm.tsx
  cv_next/app/profile/[profileUsername]/page.tsx
  cv_next/app/themeManager/themeManager.ts
  cv_next/app/themeManager/themes/dark.ts
  cv_next/app/themeManager/themes/light.ts
  cv_next/components/layout/navbar/modeToggle.tsx
  cv_next/components/layout/navbar/navbar.tsx
  cv_next/components/ui/tooltip.tsx
  cv_next/helpers/usernameRegexHelper.ts
  cv_next/lib/definitions.ts
  cv_next/middleware.ts
  cv_next/providers/theme-provider.tsx
  cv_next/server/api/users.ts
Labels: kind/feature, area/database, area/frontend, area/backend

#283 horfix: cv always private
  cv_next/app/cv/[cvId]/components/cvData.tsx
Labels: kind/bug, area/frontend

#284 CHORE: 276 combine login and about and minimize about page
  cv_next/app/(landing)/page.tsx
  cv_next/app/about/components/loginButtons.tsx
  cv_next/app/about/page.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentsSection.tsx
  cv_next/app/login/components/login.tsx
  cv_next/app/login/components/loginLayout.tsx
  cv_next/app/login/page.tsx
  cv_next/components/layout/navbar/navbar.tsx
  cv_next/lib/definitions.ts
  cv_next/middleware.ts
Labels: kind/chore, area/frontend, area/UI, area/UX

#271 270 chore reduce queries to profile table while loading cvs
  cv_next/app/api/users/fetchUserData/route.ts
  cv_next/app/api/users/revalidateSignout/route.ts
  cv_next/app/feed/components/CVItem.tsx
  cv_next/lib/definitions.ts
  cv_next/middleware.ts
  cv_next/server/api/cvs.ts
Labels: kind/bug, area/api, area/database, area/backend, area/performance

#289 255 UI add new placeholder profile pic and make sure its not circular
  cv_next/app/cv/[cvId]/components/cvData.tsx
  cv_next/app/profile/[profileUsername]/components/profilePersonalData.tsx
  cv_next/components/layout/navbar/popup.tsx
  cv_next/components/ui/DynamicProfileImage.tsx
Labels: kind/chore, area/frontend, area/UI, area/UX

#295 FEATURE: 293 unified tooltip for icons
  cv_next/app/cv/[cvId]/components/commentSection/comment.tsx
  cv_next/app/cv/[cvId]/components/commentSection/commentForm.tsx
  cv_next/app/first_login/[profileUsername]/components/firstTimeSignIn.tsx
  cv_next/app/first_login/[profileUsername]/components/newUsernameForm.tsx
  cv_next/app/profile/[profileUsername]/components/profilePersonalData.tsx
  cv_next/components/layout/navbar/navbar.tsx
  cv_next/components/ui/tooltip.tsx
Labels: kind/feature, area/frontend, area/UI, area/UX

#286 CHORE: 272 UI cv tags inconsistent design
  cv_next/app/cv/[cvId]/components/cvData.tsx
  cv_next/app/feed/components/CV/categoryDisplay.tsx
  cv_next/app/profile/[profileUsername]/components/categoryCounter.tsx
  cv_next/components/ui/cvCategory.tsx
  cv_next/hooks/useWindowSize.ts
Labels: kind/chore, area/frontend, area/UI, area/UX

#285 CHORE: Mobile UI fixes 404 footer
  cv_next/app/not-found.tsx
  cv_next/components/layout/pageFooter.tsx
Labels: kind/chore, area/UI, area/UX

#281 Removed navigation buttons from navbar
  cv_next/components/layout/navbar/navbar.tsx
  cv_next/components/layout/navbar/popupToggle.tsx
  cv_next/lib/definitions.ts
Labels: good first issue, kind/chore, area/frontend, area/UI, area/UX

#297 294 update hall of fame details
  cv_next/app/hall/page.tsx
  cv_next/app/hall/styles.module.css
  cv_next/components/layout/navbar/popup.tsx
  cv_next/components/layout/pageFooter.tsx
  cv_next/hooks/useWindowSize.ts
  cv_next/lib/definitions.ts
Labels: documentation, kind/documentation, area/frontend
